* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text {
    text-align: center;
    font-size: 1.4rem;
}

header {
    backdrop-filter: blur(5px);
    font-style: italic;
    height: 10vh;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
}
header>h1{
    position: absolute;
    left:50px;
    cursor:pointer;
}
header>img{
    position: absolute;
    left:200px;
    transform:rotate(10deg);
    top:-5px;
    transition: .4s ease-in-out;
    cursor:pointer;
}
header>h1:hover + img, header>img:hover{
    width:65px;

}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>ul {
    display: flex;
    font-size: 1.2rem;
    gap: 50px;
    list-style: none;
    flex-wrap: wrap;
}

 button {
    font: inherit;
    border: 2px solid black;
    width: 120px;
    background-color: rgba(255, 255, 128, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .2s ease-in-out;
}

header button:hover {
    background-color: rgb(46, 45, 45, .7);
    color: white;
}

header li {
    position: relative;
}

header button+span::before {
    content: "→";
    color: rgb(12, 12, 0);
    font-size: 1.5rem;
    transform: rotate(30deg);
    position: absolute;
    left: -22px;
    top: -20px;
    border-radius: 50%;
    transition: .3s ease-in;
    visibility: hidden;
}

header button+span::after {
    content: "→";
    color: rgb(12, 12, 0);
    font-size: 1.5rem;
    transform: rotate(150deg);
    position: absolute;
    top: -15px;
    border-radius: 50%;
    transition: .2s;
    visibility: hidden;
}

header button:hover+span::before,
header button:hover+span::after {
    visibility: visible;
}
#content{
    /* min-height:80vh; */
}
#homeContainer{
    width: 70ch;
    backdrop-filter: blur(5px);
    margin: 0 auto;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom:20px;
    height: 100%;
}

#homeContainer>div {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

#homeContainer>div>img {
    width: 200px;
    height: auto;
    background-color: rgb(243, 235, 235);
    position: absolute;
    right: 50px;
    bottom: 10px;
    transform: scale(1.5);
}

#homeContainer p {
    max-inline-size: 45ch;
    font-size:1.3rem;
    text-align: center;
    font-weight: bolder;
    color:white;
}
#homeContainer button{
    color:white;
    border-color: white;
    padding:0 10px;
    width:100px;
}
#homeContainer button:hover{
    background-color: white;
    color:black;
}
footer{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 10vh;   
    font-weight: bolder;
}
#menuContainer{
    padding:10px;
    background-color: rgb(203, 199, 199);
    box-shadow: 0px 0px 3px -1px inset;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}
#menuContainer h1{
    text-decoration:underline;
    font-size:2.5rem;
}

#menuContainer > .cards{
    width:400px;
    height: 200px;
    display:flex;
    align-items: center;
    gap:20px;
}
#menuContainer> .cards > .dishName{
    width:500px;
    border-bottom: 4px dotted black;
}
#menuContainer>.cards{
    transition:.4s ease-in-out;
}
#menuContainer > .cards:hover{
    box-shadow: 1px 1px 4px;
    cursor:pointer;
    padding:10px;
    background-color: rgb(11, 11, 11);
    color:white;
    border-radius:10px;
}
#menuContainer > .cards:hover > .dishName{
    border-color:white;
}

#contactContainer{
    font-size:1.5rem;
    padding:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:40px;
}
#contactContainer>h2{
    font-size:2rem;
    text-decoration:underline;
}
