* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
 
    background-size: cover;
    background-repeat: no-repeat;
    color:rgb(255, 255, 255);
}

.hero-text {
    text-align: center;
    font-size: 1.4rem;
}

header {
    backdrop-filter: blur(5px);
    font-style: italic;
    height: 10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>ul {
    display: flex;
    font-size: 1.2rem;
    gap: 50px;
    list-style: none;
    flex-wrap: wrap;
}

button {
    font: inherit;
    border: 2px solid black;
    width: 100px;
    background-color: rgba(255, 255, 128, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .2s ease-in-out;
}

button:hover {
    background-color: rgb(46, 45, 45, .7);
    color: white;
}

header li {
    position: relative;
}

button+span::before {
    content: "→";
    color: rgb(12, 12, 0);
    font-size: 1.5rem;
    transform: rotate(30deg);
    position: absolute;
    left: -22px;
    top: -20px;
    border-radius: 50%;
    transition: .3s ease-in;
    visibility: hidden;
}

button+span::after {
    content: "→";
    color: rgb(12, 12, 0);
    font-size: 1.5rem;
    transform: rotate(150deg);
    position: absolute;
    top: -15px;
    border-radius: 50%;
    transition: .2s;
    visibility: hidden;
}

button:hover+span::before,
button:hover+span::after {
    visibility: visible;
}
#content{
    height:80vh;
}
#homeContainer{
    width: 70ch;
    backdrop-filter: blur(5px);
    margin: 0 auto;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom:20px;
}

#homeContainer>div {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

#homeContainer>div>img {
    width: 200px;
    height: auto;
    background-color: rgb(243, 235, 235);
    position: absolute;
    right: 50px;
    bottom: 10px;
    transform: scale(1.5);
}

#homeContainer p {
    max-inline-size: 45ch;
    font-size:1.3rem;
    text-align: center;
    font-weight: bolder;
}
footer{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 70px;    
    font-weight: bolder;
    backdrop-filter:blur(5px);
}